body {
    margin: 0;
    background-image: url("starBackground.jpeg");
}

.container {
    height: 650px;
}

.solarCentre {
    position: absolute;
    top: 200px;
    left: 200px;
}

.orbit {
    stroke: #5D5B5E;
    stroke-width: 1;
    stroke-opacity: 0.5;
    fill-opacity: 0;
}

.planet1 {
    animation: mercuryOrbit 10s linear infinite;
}

.planet2 {
    animation: venusOrbit 15s linear infinite;
}

.planet3 {
    animation: earthOrbit 20s linear infinite;
}

.planet4 {
    animation: marsOrbit 25s linear infinite;
}

.planet5 {
    animation: jupiterOrbit 30s linear infinite;
}

.planet6 {
    animation: saturnOrbit 35s linear infinite;
}

.planet6Ring {
    animation: saturnOrbit 35s linear infinite;
}

.planet7 {
    animation: uranusOrbit 45s linear infinite;
}

.planet8 {
    animation: neptuneOrbit 50s linear infinite;
}

@keyframes mercuryOrbit {
    from {
        transition-timing-function: linear;
        transform:  rotate(0deg)
                    translate(-40px)
                    rotate(0deg)
    }
    to {
        transform: rotate(360deg)
                    translate(-40px)
                    rotate(-360deg)
    }
}

@keyframes venusOrbit {
    from {
        transform: rotate(0deg)
        translateX(-70px)
        rotate(360deg)
    }
    to {
        transform: rotate(360deg)
        translateX(-70px)
        rotate(0deg)
    }
}

@keyframes earthOrbit {
    from {
        transform:  rotate(0deg)
        translate(-100px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-100px)
        rotate(-360deg)
    }
}

@keyframes marsOrbit {
    from {
        transform: rotate(0deg)
        translate(-130px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-130px)
        rotate(-360deg)
    }
}

@keyframes jupiterOrbit {
    from {
        transform: rotate(0deg)
        translate(-170px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-170px)
        rotate(-360deg)
    }
}

@keyframes saturnOrbit {
    from {
        transform: rotate(0deg)
        translate(-210px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-210px)
        rotate(-360deg)
    }
}

@keyframes uranusOrbit {
    from {
        transform: rotate(0deg)
        translate(-250px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-250px)
        rotate(-360deg)
    }
}

@keyframes neptuneOrbit {
    from {
        transform: rotate(0deg)
        translate(-290px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-290px)
        rotate(-360deg)
    }
}
