body {
    margin: 0;
    background-image: url("starBackground.jpeg");
}

.container {
    height: 650px;
}

.solarCentre {
    position: absolute;
    top: 200px;
    left: 200px;
}

.orbit {
    stroke: #5D5B5E;
    stroke-width: 1;
    stroke-opacity: 0.5;
    fill-opacity: 0;
}

#mercury {
    fill: #D3D3D3;
    animation: mercuryOrbit 6s linear infinite;
}

.planet2 {
    animation: venusOrbit 8s linear infinite;
}

.planet3 {
    animation: earthOrbit 10s linear infinite;
}

.planet4 {
    animation: marsOrbit 15s linear infinite;
}

#jupiter {
    fill: #C8BDAB;
    animation: jupiterOrbit 20s linear infinite;
}

#saturn {
    fill: #E8BE87;
    animation: saturnOrbit 20s linear infinite;
}

#uranus {
    fill: #D3F8FB;
    animation: uranusOrbit 25s linear infinite;
}

#neptune {
    fill: #5083F7;
    animation: neptuneOrbit 30s linear infinite;
}

/*************************
keyFrames
**************************/

@keyframes mercuryOrbit {
    from {
        transition-timing-function: linear;
        transform:  rotate(0deg)
                    translate(-40px)
                    rotate(0deg)
    }
    to {
        transform: rotate(360deg)
                    translate(-40px)
                    rotate(-360deg)
    }
}

@keyframes venusOrbit {
    from {
        /*transition-timing-function: linear;*/
        transform: rotate(0deg)
        translateX(-70px)
        rotate(360deg)
    }
    to {
        transform: rotate(360deg)
        translateX(-70px)
        rotate(0deg)
    }
}

@keyframes earthOrbit {
    from {
        transition-timing-function: linear;
        transform:  rotate(0deg)
        translate(-100px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-100px)
        rotate(-360deg)
    }
}

@keyframes marsOrbit {
    from {
        transition-timing-function: linear;
        transform: rotate(0deg)
        translate(-130px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-130px)
        rotate(-360deg)
    }
}

@keyframes jupiterOrbit {
    from {
        transition-timing-function: linear;
        transform: rotate(0deg)
        translate(-170px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-170px)
        rotate(-360deg)
    }
}

@keyframes saturnOrbit {
    from {
        transition-timing-function: linear;
        transform: rotate(0deg)
        translate(-210px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-210px)
        rotate(-360deg)
    }
}

@keyframes uranusOrbit {
    from {
        transition-timing-function: linear;
        transform: rotate(0deg)
        translate(-250px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-250px)
        rotate(-360deg)
    }
}

@keyframes neptuneOrbit {
    from {
        transition-timing-function: linear;
        transform: rotate(0deg)
        translate(-290px)
        rotate(0deg)
    }
    to {
        transform: rotate(360deg)
        translate(-290px)
        rotate(-360deg)
    }
}
